NODE_ENV=development
DB_HOST=localhost
DB_USER=nextstarter
DB_PASSWORD=supersecret
DB_NAME=nextstarter
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-value-here
GOOGLE_CLIENT_ID=your-value-here
GOOGLE_CLIENT_SECRET=your-value-here